@charset "UTF-8";
/* ==========================================================================
   Front Page Base - 共通設定
   ========================================================================== */

/* base（基本）設定 */
.lp-connect {
  font-family: "Noto Sans JP", sans-serif;
}

/* ふわっと表示させるアニメーション */
.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s, transform 1s;
}
.fade-in-up.is-in-view {
  opacity: 1;
  transform: translateY(0);
}

/* mainレイアウト */
.lp-connect__main {
  overflow: hidden;
  width: 100%;
}

/* 共通innerレイアウト */
.lp-connect__inner {
  position: relative;
  width: 100%;
  max-width: 1048px;
  height: inherit;
  padding: 0 40px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .lp-connect__inner {
    width: 100%;
    max-width: 540px;
    padding: 0 20px;
  }
}

/* ディスプレイ表示切り替え（ユーティリティ） */
@media (min-width: 768px) {
  .lp-connect__sp-only {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .lp-connect__pc-only {
    display: none !important;
  }
}

/* セクション共通ボタン（基本・ピンク） */
.lp-connect__button {
  width: 360px;
  height: 60px;
  max-width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 2px solid transparent;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 100vmax;
  background: #EA526F;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: all 0.3s ease;
  text-decoration: none;
  text-box: trim-both cap alphabetic;
}
@media (any-hover: hover) {
  .lp-connect__button:hover {
    background-color: #fff;
    color: #EA526F;
    border: 2px solid #EA526F;
  }
  .lp-connect__button:hover .lp-connect__button-icon path {
    fill: #EA526F;
  }
}
@media screen and (max-width: 1180px) {
  .lp-connect__button {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .lp-connect__button {
    font-size: 18px;
    width: 335px;
    height: 60px;
    max-width: 100%;
  }
}

.lp-connect__button-icon {
  translate: 0 2px;
}

.lp-connect__button-icon path {
  transition: all 0.3s ease;
}

/* セクション共通ボタン（白枠） */
.lp-connect__button.lp-connect__button--outline {
  border: 2px solid #fff;
}
@media (any-hover: hover) {
  .lp-connect__button.lp-connect__button--outline:hover {
    color: #EA526F;
    border: 2px solid #EA526F;
  }
}

/* セクション共通ボタン（青枠） */
.lp-connect__button.lp-connect__button--blue {
  gap: 30px;
  border: 2px solid #0098BB;
  background: #fff;
  color: #0098BB;
}
@media (any-hover: hover) {
  .lp-connect__button.lp-connect__button--blue:hover {
    background-color: #0098BB;
    color: #fff;
  }
  .lp-connect__button.lp-connect__button--blue:hover .lp-connect__button-icon path {
    fill: #fff;
  }
}

/* セクション共通見出し */
.lp-connect__section-head {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .lp-connect__section-head {
    gap: 16px;
  }
}

.lp-connect__section-head-deco {
  width: 183px;
}
.lp-connect__section-head-deco img {
  width: 100%;
  height: auto;
  aspect-ratio: 183/36;
}

.lp-connect__section-head-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #2A2929;
}
@media screen and (max-width: 767px) {
  .lp-connect__section-head-title {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
  }
  .lp-connect__recommend .lp-connect__section-head-title {
    line-height: 1.6;
  }
}
